.full-publication {
	width: fit-content !important;
	min-width: 60%;
	text-align: start !important;
}

.full-publication-header {
	flex-direction: row;
	justify-content: space-between;
}

.card-img-full {
	object-fit: contain;
	border-radius: 4px;
}

#description {
	height: 150px;
}

.comment-send {
	border: none;
}

.btn-comment-send {
	margin-bottom: 0 !important;
	padding-right: 12px !important;
}

.btn-sm {
	margin-bottom: 0;
}

.comment-box-send {
	margin-left: 46px;
	display: inline-flex;
	border: var(--bs-border-width) solid var(--bs-border-color);
	border-radius: var(--bs-border-radius);
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn.show {
	border: none;
}

@media (max-width: 450px) {
	h5 {
		font-size: 1rem;
	}

	p {
		font-size: 1rem;
	}
}
