.header {
	position: sticky;
	background-color: #747bff;
	color: #f8f8f8;
	padding: 8px;
	user-select: none;
}

.logo {
	max-width: 20%;
}

.menuList {
	list-style: none;
	text-align: start;
	display: flex;
	justify-content: flex-start;

	background-color: #747bff;
}

.nav-item {
	padding: 5px;
	border-radius: 1px;
}

.nav-item:hover {
	background-color: #f8f8f8;
	color: #646cff;
}

.navbar-toggler {
	border: none;
	font-size: 0.8rem;
	color: #f8f8f8;
	padding: 4px 6px;
}

.navbar-toggler:focus {
	box-shadow: none;
	color: #535bf2;
}

.navbar-nav {
	justify-content: flex-start;
	width: 100%;
}

.container-fluid {
	padding: 0 12px;
}

.btn-search {
	background-color: #f8f8f8 !important;
	padding: 4px 8px !important;
	margin-bottom: 0 !important;
}

.resetSearch {
	background-color: transparent !important;
	color: #f8f8f8 !important;
	padding: 2px 4px !important;
}

@media (min-width: 990px) {
	.search-form {
		margin-left: auto !important;
	}
}

@media (max-width: 450px) {
	.header {
		font-size: 0.9rem;
	}

	h2 {
		font-size: 1.1rem;
		margin-bottom: 0;
	}
}
