.card {
	height: fit-content;
	min-width: 200px;
	max-width: 400px;
}

.card-header {
	text-align: start !important;
	display: inline-flex;
	justify-content: space-between;
	width: 100%;
	gap: 10px;
}

.card-body {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 10px;
}

.card-text {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin-bottom: 0;
}

.publication {
	justify-self: center;
	max-width: 400px;
	width: 80%;
	align-items: center;
}

.comment {
	gap: 0px;
	padding-bottom: 0;
}

.comment-header {
	align-items: center;
	gap: 5px;
}

.dropdown-menu {
	min-width: fit-content;
	padding: 5px 0 5px 0;
}

.dropdown {
	display: flex;
	align-items: center;
	justify-content: center;
}

.dropdown-option {
	background-color: #ffff;
	color: #646cff;
	border-radius: 0;
	padding: 0 5px 0 5px;
	width: 100%;
	text-align: start;
}

.dropdown-option:hover {
	background-color: #646cff;
	color: #ffff;
}

.buttons {
	display: inline-flex;
	justify-content: center;
	gap: 10px;
	align-items: center;
}

.setting-publication {
	display: flex;
	align-items: center;
	justify-content: center;
}

form {
	width: 100%;
}

.card-img {
	max-height: 190px;
	min-height: 100px;
	object-fit: cover;
	object-position: 25% 25%;
}

@media (max-width: 450px) {
	a,
	.btn {
		font-size: 1rem;
	}

	.publication {
		padding: 0;
	}
}
